.navbar {
  background-color: #303030;
}

.logo:hover {
  transform: scale(1.05);
}

.home:hover {
  transform: scale(1.2);
}
.index:hover {
  transform: scale(1.2);
}
.addhero:hover {
  transform: scale(1.2);
}
